@{
    ViewBag.Title = "Contact";
}
<style>
    

    h3 {
        color: #007bff;
    }
</style>
<div class="container mt-5">
    <h2>Contact Us</h2>

    <p>Feel free to reach out to us for any inquiries, support, or feedback. Our team is here to assist you!</p>

    <h3>Location:</h3>
    <p>
        Imran Tech Solutions,<br>
        New Postal Colony,<br>
        Kurnool, Andhra Pradesh, 518003<br>
        India
    </p>

    <h3>Contact Information:</h3>
    <p>
        Email: imran83689@gmail.com<br>
        Phone: +91 8106883689
    </p>

    <h3>Map:</h3>


    <div style="width: 100%">
        <iframe width="95%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=15%C2%B050'17.7%22N%2078%C2%B001'08.6%22E+(My%20Business%20Name)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
    </div>
    <p> </p>
    <a href="/" class="btn btn-primary">Back to TaskHub</a>
</div>
